# dependencies
node_modules
data

# builds
dist

# env
.env
.env.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.idea
*.swp

# pnpm store (if local)
.pnpm-store
